.App {
  text-align: center;
}



.header{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: red;
  color:blue;
}

.card-container{
  margin: 40px;
 
}
.imagen{
  border-radius: 20px;
}
.card-item{
  width: 18rem;
  border:3px solid blue;
  border-radius: 20px;
  display: inline-flex;
  height: 35rem;
  margin: 10px;
}